@media screen and (max-width: 600px) {

    /* navbar */
    *{
        font-size: small;
    }
    .navbar h1 {
        font-size: medium;
    }

    .links {
        display: none;
    }
    

    .welcome {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 30%;
    }
    .elephant {
        width: 85%;
        display: none;
    }
    .wlc-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .welcome-h1 {
        font-family: "Kaushan Script", cursive;
        font-size: x-large;
        text-align: center;
    }
    .welcome-myName {
        font-size: medium;
        text-align: center;
        color: white;
      }
    .welcome-h2 {
        display: flex;
        flex-direction: column;
        color: white;
      }
      .left {
        margin-top: 15%;
      }
    .background-img-Rajasthan.class1 {
        height: 50px;
      }
      .info-data-main {
        display: flex;
        flex-direction: column;
      }
      .main-category-list {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        width: 95%;
        padding: 10%;
      }
      .categories {
        font-size: medium;
        padding: 1% 6%;
        margin: 1%;
      }
      .sub-Category-div {
        gap: 10px;
      }
      .contect-div {
        flex-direction: column;
      }
      .background-img-Rajasthan.class2 {
        height: 50px;
      }
      .background-img-Rajasthan {
        background-size: contain;
      }
      .contact-link {
        display: flex;
        gap: 20px;
        flex-direction: row;
        padding: 15% 0px;
      }
      .logo-nav {
        display: block;
        width: 25px;
      }
      .links-menu{
        display: flex;
      }
      .displayBlock{
        display: flex;
      }
      .displayNone{
        display: none;
      }
      .link-div-menu {
        width: 100%;
        transition: linear .2s;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 7%;
        z-index: 999999999999;
        background: aliceblue;
        color:black;
      }
      /* user form */
      .userLoginForm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .right {
        display: flex;
        flex-direction: column;
      }
      .Subcategory {
         border-radius: 4px;
      }
      /* card center */
      .card-main {
        justify-content: center;
      }
      /* background image */
      .class1,.class2 {
        background-image: url("../images/camelMoon.png");
      }
      .icon-imgg.icon-call {
        width: 30px;
      }
      /* login form */
      .input-login {
        padding: 4% 1% 3% 4%;
        width: 80%;
      }
      .login-card {
        margin-top: 35%;
      }
      

}