@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background: black;
  color: aqua;
}

.main-category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5% 4%;
}

.categories {
  border: 2px solid aqua;
  padding: 5% 3%;
  border-radius: 15px 1px;
  font-size: x-large;
}
/* userSignup */
.userLoginForm input {
  padding: 4px;
  margin: 8px 0px;
}

.Subcategory {
  border: 2px solid #d5ea42;
  padding: 1% 1%;
  border-radius: 8px;
}
/* .sub-Category-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.sub-Category-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card {
    border: 3px solid red;
    margin: 2% 2%;
    padding: 1% 1%;
  }
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 6%;
  }
  .links {
    display: flex;
    gap: 25px;
  }
  .active {
    color: #ffcc30;
  }
  .links a {
    text-decoration: none;
    font-size: large;
  }
  a{
    text-decoration: none;
  }
  .main-navbar {
    border-bottom: 1px solid #ffcc30;
  }